// fonts
$Proxbold: 'ProximaNova-Bold';
$ProxReg: 'ProximaNova-Regular';
$Clarendon :'Clarendon-Regular';

// colors

$colorGrey: #434343;
$mainRed: #cd1309;
$mainBlue: #5174b8;
$headerBorderColor: #dfdfdf;
$navColor: #666666;
$searchGrey: #737578;
$lightGrey: #d5d5d5;
$white: #fff;
$twitterColor: #1da1f3;
$footerColor: #44464a;
$inputGrey: #cccccc;
$tableBorder: #dfdfdf;


